{% extends "main.html" %}
{% block content %}
    {% include "header.html" %}
    <h2>Add an art work for {{name}}</h2>
    <form method="POST" action="{{ url_for('addArtWork', idOfArtist = id, nameOfArtist = name)}}">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" placeholder="Title">
            <br>
            <label>Year</label>
            <input type="text" class="form-control" name="year" placeholder="Year">
            <br>
            <label>Image Link</label>
            <input type="text" class="form-control" name="image" placeholder="Image Link">
        </div>
        <br>
        <input type="submit" class="btn btn-default" value="Submit">
    </form>
{% endblock %}