{% extends "main.html" %}
{% block content %}
    {% include "header.html" %}
    <h1>{{name}}</h1>
    {% with messages = get_flashed_messages()%}
        {% if messages %}
            <ul class="center">
                {% for message in messages %}
                    <li><strong>{{ message }}</strong></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% if creator_id == user_id %}
        <div class='center'>
            <a href={{ url_for('deleteArtist', idOfArtist = id, nameOfArtist = name) }}>Delete Artist</a>
            <a class="right-link" href={{ url_for('editArtist', idOfArtist = id, nameOfArtist = name) }}>Edit Artist</a>
        </div>
    {% endif %}
    <div class="row">
        {% for i in items %}
            <div class="col-sm-6">
                <img src="{{i.image_link}}" alt="{{i.title}}" />
                <p>{{i.title}}</p>
                <p>{{i.year}}</p>
                {% if i.creator_id == user_id %}
                    <a href={{ url_for('deleteArtWork', idOfArt = i.id) }}>Delete this work</a>
                    <a class="right" href={{ url_for('editArtWork', idOfArt = i.id) }}>Edit this work</a>
                {% endif %}
                <br>
            </div>
      {% endfor %}
    </div>
    <a class="btn btn-default add-artist" href={{ url_for('addArtWork', idOfArtist = id, nameOfArtist = name) }} role="button">Add an Art Work</a>
{% endblock %}