{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<h1>{{name}}</h1>
<div class="links">
  <ul>
    <li><a href={{ url_for('deleteArtist', idOfArtist = id, nameOfArtist = name) }}>Delete Artist</a></li>
    <li><a class="right" href={{ url_for('editArtist', idOfArtist = id, nameOfArtist = name) }}>Edit Artist</a></li>
  </ul>
</div>
<div class="row">
  {% for i in items %}
    <div class="col-sm-6">
      <img src="{{i.image_link}}" alt="{{i.title}}" />
      <p>{{i.title}}</p>
      <p>{{i.year}}</p>
      <a href={{ url_for('deleteArtWork', idOfArt = i.id) }}>Delete this work</a>
      <a class="right" href={{ url_for('editArtWork', idOfArt = i.id) }}>Edit this work</a>
      <br>
    </div>
  {% endfor %}
</div>
<a class="btn btn-default add-artist" href={{ url_for('addArtWork', idOfArtist = id, nameOfArtist = name) }} role="button">Add an Art Work</a>
{% endblock %}