{% extends "main.html" %}
{% block content %}
  <h1>ART SAVER</h1>
  <div class='image'>
    <img src="{{image}}" alt="{{title}}" />
    <p class="sub-title">{{title}}</p>
  </div>
  <div class="container center">
    <div class="row">
      {% for i in items %}
        <div class="col-sm-4 artists">
          <a class="artists" href={{ url_for('showArtistDetails', idOfArtist = i.id) }}>{{i.name}}</a>
          <br>
        </div>
      {% endfor %}
    </div>
    <a class="btn btn-default add-artist" href={{ url_for('addArtist') }} role="button">Add an Artist</a>
  </div>
{% endblock %}