{% extends "main.html" %}
{% block content %}
    {% include "header.html" %}
    <h4>Are you sure you want to delete {{name}} - this will also delete all work associated with {{name}}?</h4>
    <div class="outer">
        <div class="inner">
            <form method='GET' action="{{url_for('showArtistDetails', idOfArtist = id, nameOfArtist = name)}}">
                <input type="SUBMIT" class="btn btn-default" value="Cancel">
            </form>
        </div>
        <div class="inner">
            <form method='POST' action="{{ url_for('deleteArtist', idOfArtist = id, nameOfArtist = name)}}">
                <input type="SUBMIT" class="btn btn-danger" value="Delete">
            </form>
        </div>
    </div>
{% endblock %}