{% extends "main.html" %}
{% block content %}
    {% include "header.html" %}
    <h2>Edit {{title}}</h2>
    <form method="POST" action="{{ url_for('editArtWork', idOfArt = id, titleOfArt = title)}}">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" value="{{title}}">
            <br>
            <label>Year</label>
            <input type="text" class="form-control" name="year" value="{{year}}">
            <br>
            <label>Image Link</label>
            <input type="text" class="form-control" name="image" value="{{image}}">
        <div>
        <br>
        <input type="submit" class="btn btn-default" value="Submit">
    </form>
{% endblock %}