{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<h1>{{name}}</h1>
<div class="row">
  {% for i in items %}
    <div class="col-sm-6">
      <img src="{{i.image_link}}" alt="{{i.title}}" />
      <p>{{i.title}}</p>
      <p>{{i.year}}</p>
      {% if i.creator_id == user_id %}
        <a href={{ url_for('deleteArtWork', idOfArt = i.id) }}>Delete this work</a>
        <a class="right" href={{ url_for('editArtWork', idOfArt = i.id) }}>Edit this work</a>
      {% endif %}
      <br>
    </div>
  {% endfor %}
</div>
<a class="btn btn-default add-artist" href={{ url_for('addArtWork', idOfArtist = id) }} role="button">Add an Art Work</a>
{% endblock %}